<%-  include('../partials/header'); %>

<!-- create artist display page -->
<main class="mail" id="bandMain">
    <div class="continer">
        <div class="row">
            <% data.forEach(item => { %>
                <div class="col-md-4">
                    <figure class="figure band-figure">
                        <img src="/images/<%= item.imgUrl %>" alt="image of <% item.band %>" class="img-fluid" />
                        <figcaption class="figure-caption band-caption">
                            <a href="/band/<%= item.band_id %>">
                                <%= item.band %>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            <% }) %>
        </div>
    </div>
</main>


<%-  include('../partials/footer'); %>