<%-  include('../partials/header'); %>

<main class="main" id="bandSingleMain">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/<%= data[0].imgUrl %>" alt="" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <% data.forEach(item => { %>
                        <div class="col-sm-5">
                            <figure class="figure band-single-figure">
                                <img src="/images/<%= item.album_cover %>" alt="image of <%= item.album_cover %>" class="img-fluid img-thumbnail" />
                                <figcaption class="figure-caption">
                                    <%= item.title %> | <%= item.yr_released %> | <%= item.label %>
                                </figcaption>
                            </figure>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</main>

<%-  include('../partials/footer'); %>